ss-facet-tags {

  .tags-module-search-wrapper .tags-module-search {
    border:1px solid #ccc;
    border-radius: 3px;
  }

  .tags-module-search-wrapper .tags-module-search-icon {
    float:left;
    margin:6px 0px 0px 10px;
  }

  .tags-module-search-wrapper .tags-module-search-input {
    float:left;
    padding-top:1px;
    width: 80%;
  }

  .tags-module-search-wrapper .tags-module-search-input input {
    border: none;
    box-shadow: inset 0 0px 0px, 0 0 0px;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0px;
    width: 100%;
  }

  .tags-module-search-wrapper .glyphicon-search {
    margin-top:2px;
  }

  .tags-module-search-wrapper .glyphicon-remove {
    margin-top:8px;
    margin-right: 12px;
    color:#ccc;
    float:right;
    cursor: pointer;
  }

  .search-tags {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ddd;
  }

  .search-tags input {
    padding-left: 26px!important;
    background:url('/images/glyphicons_027_search.png') no-repeat 2% 48%;
    background-size:16px 16px;
  }

  .unselected-tags {
    padding: 12px 0 12px 0;
    padding-bottom: 12px;
  }

  .selected-tags {
    padding: 12px 0 12px 0;
    /* border-bottom: 1px solid #ddd; */
  }

  .tags-divider {
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin-left: 15px;
    margin-right: 15px;
  }

  ul.dropdown-menu{
    left: 45px!important;
  }

  .tags-module-search-wrapper {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .checkbox {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0!important;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .button-more-tags {
    margin-left: 15px;
    margin-right: 15px;
    width: 90%!important;
  }

  .checkbox:hover {
    background-color: #e7e7e7;
    background-image: url("/app/images/right-gray.png");
    background-position: 96% 50%;
    background-repeat: no-repeat;
  }

  .list-group-section {
    padding: 0!important;
  }

}
