.ss-results {

  /* result row */
  .ss-result {
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #eeeeee;
  }

  .ss-result:nth-child(odd) {
    background: #fff;
  }

  .ss-result:nth-of-type(even) {
    background: #f7f7f9;
  }

  .ss-result:nth-of-type(odd) {
    background: #fff;
  }


  /* voting stats */

  .ss-result .question-voting-stats .voting-stats-module {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width:59px;
  }

  .ss-result .question-voting-stats .voting-stats-module .voting-answers-footer,
  .ss-result .question-voting-stats .voting-stats-module .voting-stats-header {
    background: #e7e7e7;
    font-size:8px;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 0;
    color: #333333;
    letter-spacing: 1px;
    overflow: hidden;
  }

  .ss-result .question-voting-stats .voting-stats-module .voting-stats {
    font-size:16px;
    font-weight: 500;
    padding: 0px 0 2px 0;
    margin:0;
    line-height: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }

  .ss-result .question-voting-stats .voting-stats-module .voting-answers {
    font-size:16px;
    font-weight: 500;
    padding: 0px 0 2px 0;
    margin:0;
    line-height: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }

  .ss-result .question-voting-stats .voting-stats-module .answered {
    color:#fff;
    background: #1f9072;
  }

  .ss-result .question-wrapper .question-inner {
    min-height: 50px;
  }

  .ss-result .question-wrapper .question-inner h2,
  .ss-result .question-wrapper .question-inner h3,
  .ss-result .question-wrapper .question-inner h4 {
    margin-top: 0;
    margin-bottom: 3px;
    padding:0;
    line-height:
  }

  .ss-result .question-wrapper .question-inner p {
    font-size:12px;
  }


  .started {
    font-size:11px;
    text-align:right;
    float:right;
    color: #666;
  }


  /* Question Info */
  .ss-result .question-wrapper .question-info-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
  }


  /* Question Tags */
  .ss-result .question-wrapper .question-info-wrapper .question-tags {
    width: 60%;
    float:left;
  }


  /* Question Info */
  .ss-result .question-wrapper .question-info-wrapper .question-info {
    float:right;
    width: 35%;
    padding:4px;
    margin: 0;
  }

  /* Not sure why this is not picking up the defualt A blue */
  .ss-result .question-wrapper .question-info-wrapper .question-info .glyphicon-new-window {
    color:#428bca;
  }

  .ss-result .question-wrapper .question-info-wrapper .question-info .glyphicon-new-window:hover {
    color:#2a6496;
  }

  .ss-result .question-wrapper .question-info-wrapper .question-info .glyphicon-new-window:visited {
    color:#428bca;
  }

  .ss-result .question-wrapper .question-info-wrapper .question-info span {
    line-height:11px!important;
    font-size:11px;
    text-align:right;
    padding:0;
    margin: 0;
    color: #666;
  }

  .ss-result a.question,
  .ss-result a.answer {
    font-weight: 600;
  }

  .answer-module-divider {
    margin-left: 20px;
    margin-right: 20px;
  }

  .answer-module-divider hr {
    border-color:#ebebeb;
  }

  .tab-wrapper {
    border-bottom:1px solid #ddd;
  }

  .ss-sort {
    border-bottom: none;
    float: right;
  }

  @media (max-width: 768px) {
    .ss-sort {
      float: left;
    }
  }

  /* default */
  .ss-sort li a {
    border: 1px solid #ddd;
    color: #333;
  }

  /* active */
  .ss-sort li.ss-sort-active a {
    color: #79B;
  }

  /* selected */
  .ss-sort li a.ss-sort-selected {
    border: 1px solid #ddd;
    background: #fff;
    color:#000!important;
    border-bottom-color: transparent;
  }

  /* inactive */
  .ss-sort li.ss-sort-inactive a {
    border: 1px solid #ddd;
    background: #f7f7f9;
    color: #cacaca;
  }

}
