.ss-results {

  /* Question Row */
  .question-row {
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #eeeeee;
  }

  .question-row:first-child {
    padding-top:0;
  }

  .question-row:nth-child(even) {
    background: #fff;
  }

  .question-row:nth-of-type(odd) {
    background: #f7f7f9;
  }

  .question-row:nth-of-type(even) {
    background: #fff;
  }


  /* Question Voting Stats */

  .question-row .question-voting-stats .voting-stats-module {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width:59px;
  }

  .question-row .question-voting-stats .voting-stats-module .voting-answers-footer,
  .question-row .question-voting-stats .voting-stats-module .voting-stats-header {
    background: #e7e7e7;
    font-size:8px;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 0;
    color: #333333;
    letter-spacing: 1px;
    overflow: hidden;
  }

  .question-row .question-voting-stats .voting-stats-module .voting-stats {
    font-size:16px;
    font-weight: 500;
    padding: 0px 0 2px 0;
    margin:0;
    line-height: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }

  .question-row .question-voting-stats .voting-stats-module .voting-answers {
    font-size:16px;
    font-weight: 500;
    padding: 0px 0 2px 0;
    margin:0;
    line-height: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }

  .question-row .question-voting-stats .voting-stats-module .answered {
    color:#fff;
    background: #1f9072;
  }


  /* Question Wrapper */
  .question-row .question-wrapper .question-inner {
    min-height: 50px;
  }

  .question-row .question-wrapper .question-inner h2,
  .question-row .question-wrapper .question-inner h3,
  .question-row .question-wrapper .question-inner h4 {
    margin-top: 0;
    margin-bottom: 3px;
    padding:0;
    line-height:
  }

  .question-row .question-wrapper .question-inner p {
    font-size:12px;
  }


  .started {
    font-size:11px;
    text-align:right;
    float:right;
    color: #666;
  }


  /* Question Info */
  .question-row .question-wrapper .question-info-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
  }


  /* Question Tags */
  .question-row .question-wrapper .question-info-wrapper .question-tags {
    width: 60%;
    float:left;
  }


  /* Question Info */
  .question-row .question-wrapper .question-info-wrapper .question-info {
    float:right;
    width: 35%;
    padding:4px;
    margin: 0;
  }

  /* Not sure why this is not picking up the defualt A blue */
  .question-row .question-wrapper .question-info-wrapper .question-info .glyphicon-new-window {
    color:#428bca;
  }

  .question-row .question-wrapper .question-info-wrapper .question-info .glyphicon-new-window:hover {
    color:#2a6496;
  }

  .question-row .question-wrapper .question-info-wrapper .question-info .glyphicon-new-window:visited {
    color:#428bca;
  }

  .question-row .question-wrapper .question-info-wrapper .question-info span {
    line-height:11px!important;
    font-size:11px;
    text-align:right;
    padding:0;
    margin: 0;
    color: #666;
  }

  .question-row a.question,
  .question-row a.answer {
    font-weight: 600;
  }

  .answer-module-divider {
    margin-left: 20px;
    margin-right: 20px;
  }

  .answer-module-divider hr {
    border-color:#ebebeb;
  }

  /* NAV TABS =============================================== */
    .tab-wrapper {
      border-bottom:1px solid #ddd;
    }

    .question-filters {
      border-bottom: none;
      float: right;
    }

    @media (max-width: 768px) {
      .question-filters {
        float: left;
      }
    }

    .nav-tabs li a {
      border: 1px solid #ddd;
      color: #79b;
    }

    .nav-tabs li.active a {
      color: #333;
    }

    .nav-tabs li a.active {
      border: 1px solid #ddd;
      background: #fff;
      color:#000!important;
    }

    .nav-tabs li.inactive a {
      border: 1px solid #ddd;
      background: #f7f7f9;
      color: #cacaca;
    }

    .nav-tabs li.inactive a:hover {
      border: 1px solid #ddd;
      background: #f7f7f9;
      color: #c9c9c9;
    }



}
