.ss-main {

}

.ss-page-header {

  .navbar-fixed-top {
    z-index:300;
  }

  nav {
    background:#292929!important;
    -webkit-border-radius:0px!important;
    -moz-border-radius:0px!important;
    border-radius:0px!important;
    border: 1px none red!important;
    padding-left:0!important;
    padding-right:0!important;
    margin-bottom: 0!important;
  }

  nav .navbar-brand {
    color:#fff!important;
    padding:11px 13px;
  }

  nav .navbar-brand img {
    width:185px;
  }

  nav ul.nav li button.btn {
    margin-top: 9px;
    margin-left: 14px;
    margin-right: 14px;
  }

  nav ul.nav li a.inactive {
    color:#5d5d5d;
    background: #2d2d2d;
  }

  nav ul.nav li a.inactive:hover {
    color:#5d5d5d;
    background: #2d2d2d;
  }

  nav ul.nav span.glyphicon {
    padding:3px;
    margin-right: 2px;
  }

  /* LOGGED OUT */
  nav ul.nav li#navbar-li-logged-out {
    display: block;
    padding-top:4px;
  }

  nav ul.nav li#navbar-li-logged-out button.btn {
    padding:3px 20px
  }

  nav ul.nav li#navbar-li-logged-out a.btn {
    color:#fff!important;
    display: block;
    padding:3px 20px;
  }

  nav ul.nav li#navbar-li-logged-out a.btn:hover {
    background-color: #3071a9;
    border-color: #285e8e;
  }


  /* USER INFO */
  nav ul.nav li#navbar-li-logged-in a {
    color:#fff;
    display: block!important;
    font-size: 14px;
  }

  nav ul.nav li#navbar-li-logged-in a span.glyphicon {
    border:1px solid #9b9b9b;
    padding:1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    color:#9b9b9b;
    margin-right: 8px;

  }

  nav ul.nav li#navbar-li-logged-in a span.caret {
    color:#ccc;
  }

  nav ul.nav li#navbar-li-logged-in:hover,
  nav ul.nav li#navbar-li-logged-in.open {
    background: #333;
  }

  nav ul.nav li#navbar-li-logged-in.open a,
  nav ul.nav li#navbar-li-logged-in a:hover {
    background: #333;
  }

  .user-dropdown-menu {
    width:250px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .user-dropdown-menu .user-info {
    padding:14px 18px 14px 18px;
  }

  .user-dropdown-menu .user-info h4 {
    padding-bottom: 2px;
    color:#000;
  }

  .user-dropdown-menu .user-info p {
    font-size:12px;
  }

  .user-actions {
    border-top:1px solid #ddd;
    padding: 6px 16px 10px;
    padding-bottom: 6px;
    text-align: right;
    margin-bottom: 0!important;
  }

  nav ul.nav li#navbar-li-logged-in a.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block!important;
    font-size: 13px;
    padding: 3px 10px;
    float: right;
  }

  nav ul.nav li#navbar-li-logged-in a.btn-default:hover {
    color: #333;
    background-color: #333;
    border-color: #adadad;
  }

  nav ul.nav li#navbar-li-logged-in a.btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block!important;
    font-size: 13px;
    padding: 3px 10px;
  }

  nav ul.nav li#navbar-li-logged-in a.btn-primary:hover {
    background-color: #428bca;
    border-color: #357ebd;
  }


  /* ASK QUESTION BUTTON */
  nav ul.nav li#navbar-li-ask-question a.active {
    color:#fff;
    background: none;
  }

  nav ul.nav li#navbar-li-ask-question a.active:hover {
    color:#fff;
    background: #333!important;
  }

  nav ul.nav li#navbar-li-ask-question span.glyphicon {
    color:#3abc9a;
    font-size: 16px;
    margin-top: -2px;
  }

  nav ul.nav li#navbar-li-ask-question a.active:hover {
    color:#fff;
    background-color: #e6e6e6;
    border-color: #adadad;
  }

  @media (max-width: 768px) {

    nav ul.nav li#nav-li-log-in {
      background: none!important;
      border:1px none red!important;
      padding: 0;
      margin: 0;
    }

    nav ul.nav li a#nav-log-in {
      color:#ccc;
    }

    nav ul.nav li#nav-li-ask-question a {
      background: none!important;
    }

    nav ul.nav li a.btn {
      background: none!important;
      border:1px none red!important;
      text-align: left;
      color:#ccc;

    }

    nav ul.nav li a.btn:hover {
      background: #333!important;
      border:1px none red!important;
      text-align: left;
      color:#ccc;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border-color: #595959;
    }

  }

}

footer {
  border-top:1px solid #ddd;
  padding:10px 10px 10px 10px;
}

footer p {
  font-size: 10px;
  color: #666;
}
