<li id="navbar-li-logged-in" class="dropdown">

<!-- <span class="ss-account-dropdown dropdown">
  <a href="" class="dropdown-toggle ss-user-info-display-name-reputation"
  >{{store.session.userInfo.displayName}}
    [{{store.session.userInfo.reputation}}]</a>
  <ul class="dropdown-menu ss-account-dropdown">
    <li>
      <div class="">
        <strong>Display name:</strong>
        <span class="ss-user-info-display-name"
        >{{store.session.userInfo.displayName}}</span>
      </div>
      <div>
        <strong>Votes cast:</strong>
        <span class="ss-user-info-votes-cast"
        >{{store.session.userInfo.votes.length}}</span>
      </div>
      <div>
        <strong>Reputation:</strong>
        <span class="ss-user-info-reputation"
        >{{store.session.userInfo.reputation}}</span>
      </div>
      <div>
        <button ng-click="logout()">
          Logout
        </button>
      </div>
    </li>
  </ul>
</span> -->

  <a href="" id="navbar-logged-in" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-user"></span>
    {{store.session.userInfo.displayName}}
    [{{store.session.userInfo.reputation}}]
    <span class="caret"></span>
  </a>
  <div class="user-dropdown-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <div class="user-info">
        <h4 class="list-group-item-heading"
        >{{store.session.userInfo.displayName}}</h4>
        <p class="list-group-item-text"
        ><strong>Votes cast:</strong>
        {{store.session.userInfo.votes.length}}</p>
        <p class="list-group-item-text"
        ><strong>Reputation:</strong>
        {{store.session.userInfo.reputation}}</p>
    </div>
    <div class="user-actions">
      <a
        class="btn btn-primary btn-xs"
        href=""
        ng-click="logout()"
      >Log Out</a>
    </div>
  </div>
</li>
