<section class="ss-search-bar">
  <ss-search-bar></ss-search-bar>
</section>

<main class="container-fluid">


  <div class="row">

    <section class="ss-results">
      <ui-view></ui-view>
    </section>

    <div id="sidebar" class="col-md-3 col-md-pull-9">

      <div>
        <div class="list-group">

          <div class="list-group-header">
            <button class="btn btn-default btn-xs pull-right" >Clear All</button>
            <h4>Filter Results</h4>
          </div>

          <div class="list-group-item">
            <div class="checkbox">
              <label ng-disabled="!store.session">
                <input
                  type="checkbox"
                  ng-model="showMineOnly"
                  ng-change="onCriteriaChange()"
                  ng-disabled="!store.session"
                /> Show my contributions only</label>
            </div>
            <div class="checkbox">
              <label ng-disabled="!store.session">
                <input
                  type="checkbox"
                  ng-model="resolvedOnly"
                  ng-change="onCriteriaChange()"
                  ng-disabled="!store.session"
                /> Show resolved only</label>
            </div>
          </div>

          <div class="list-group-subheader">
            <button class="btn btn-default btn-xs pull-right" >Clear Dates</button>
            <h4>Date</h4>
          </div>
          <div class="list-group-section">
            <!--BEGIN: HIGH CHARTS-->
            <div id="container" style=" margin: 0 -8px; min-height:200px; padding-bottom:10px;"></div>
            <!--END: HIGH CHARTS-->
            <div class="input-daterange input-group" id="datepicker">
              <input type="text" class="input-sm form-control" name="start" placeholder="01/01/2014" />
              <span class="input-group-addon">to</span>
              <input type="text" class="input-sm form-control" name="end"   placeholder="12/31/2014" />
            </div>
          </div>

          <div class="list-group-subheader">
            <button class="btn btn-default btn-xs pull-right" >Clear Tags</button>
            <h4>Tags</h4>
          </div>
          <ss-facet-tags
            criteria="search.criteria.constraints.tags"
            results="search.results.facets.tags"
            totals="{ total: search.results.total, shadow: search.results.shadowTotals.tags }"
            num-tags="8"
          ></ss-facet-tags>

          </div> <!-- list-group-section (tags) -->

        </div> <!-- list-group -->
      </div>
    </div> <!-- sidebar -->

  </div> <!-- row -->




<!--


  <section class="ss-explore">

    <div class="ss-filters-results">

      <section class="ss-filters" ng-hide="!search.results">
        <header>
          <h2>Filter Results</h2>
        </header>

      <div
        class="ss-filters-my-entries"
        ng-class="{ disabled: !store.session }"
      >
        <input
          type="checkbox"
          ng-model="showMineOnly"
          ng-change="onCriteriaChange()"
          ng-disabled="!store.session"
        />
        Show my entries only
      </div>
      <div
        class="ss-filters-resolved"
        ng-class="{ disabled: !store.session }"
      >
        <input
          ng-model="resolvedOnly"
          ng-change="onCriteriaChange()"
          type="checkbox"
          ng-disabled="!store.session"
        />
        Show resolved only
      </div>
      <section class="ss-filters-date">
        <header>
          <h3>Date</h3>
          <a href="" class="ss-clear-date" ng-click="clearDatesConstraints()">Clear</a>
        </header>
        <ss-facet-date-range
          constraints="search.criteria.constraints"
          results="search.results.facets.dates"
        ></ss-facet-date-range>
      </section>
      <section class="ss-filters-tags">
        <header>
          <h3>Tags</h3>
          <a href="" class="ss-clear-tags" ng-click="clearTagsConstraint()">Clear</a>
        </header>
        <ss-facet-tags
          criteria="search.criteria.constraints.tags"
          results="search.results.facets.tags"
          totals="{ total: search.results.total, shadow: search.results.shadowTotals.tags }"
          num-tags="8"
        ></ss-facet-tags>
        <div class="ss-open-all-tags" disabled ng-click="angular.noop()"><span class="ss-incomplete">more...</span></div>
      </section>
    </section>

    <section class="ss-results">
      <ui-view></ui-view>
    </section>

  </section>

-->

</main>
