<section class="ss-search-bar">
  <ss-search-bar></ss-search-bar>
</section>

<div class="ss-explore container-fluid">

  <div class="row">

    <section class="ss-results">
      <ui-view></ui-view>
    </section>

    <div class="ss-filters col-md-3 col-md-pull-9">

      <div>
        <div class="list-group">

          <div class="list-group-header">
            <button class="btn btn-default btn-xs pull-right" >Clear All</button>
            <h4>Filter Results</h4>
          </div>

          <!-- top checkboxes -->
          <div class="list-group-item">
            <div class="checkbox">
              <label ng-disabled="!store.session">
                <input
                  type="checkbox"
                  ng-model="showMineOnly"
                  ng-change="onCriteriaChange()"
                  ng-disabled="!store.session"
                /> Show my contributions only</label>
            </div>
            <div class="checkbox">
              <label ng-disabled="!store.session">
                <input
                  type="checkbox"
                  ng-model="resolvedOnly"
                  ng-change="onCriteriaChange()"
                  ng-disabled="!store.session"
                /> Show resolved only</label>
            </div>
          </div>

          <!-- date filter -->
          <div class="list-group-subheader">
            <button class="btn btn-default btn-xs pull-right" >Clear Dates</button>
            <h4>Date</h4>
          </div>
          <div class="list-group-section">
            <!--BEGIN: HIGH CHARTS-->
            <div id="container" style=" margin: 0 -8px; min-height:200px; padding-bottom:10px;"></div>
            <!--END: HIGH CHARTS-->
            <div class="input-daterange input-group" id="datepicker">
              <input type="text" class="input-sm form-control" name="start" placeholder="01/01/2014" />
              <span class="input-group-addon">to</span>
              <input type="text" class="input-sm form-control" name="end"   placeholder="12/31/2014" />
            </div>
          </div>

          <!-- tags filter -->
          <div class="list-group-subheader">
            <button class="btn btn-default btn-xs pull-right" >Clear Tags</button>
            <h4>Tags</h4>
          </div>
          <ss-facet-tags
            criteria="search.criteria.constraints.tags"
            results="search.results.facets.tags"
            totals="{ total: search.results.total, shadow: search.results.shadowTotals.tags }"
            num-tags="8"
          ></ss-facet-tags>

          </div> <!-- list-group-section (tags) -->

        </div> <!-- list-group -->
      </div>
    </div> <!-- ss-filters -->

  </div> <!-- row -->

</div> <!-- ss-explore -->
