<header class="ss-page-header navbar-fixed-top">

  <div ng-if="loading" class="spinner"></div>
  <div ng-if="globalError.length" marked="globalError" class="has-error"></div>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="app/images/samplestack.svg" border="0">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="!store.session" id="navbar-li-logged-out">
            <button
              class="btn btn-primary btn-sm"
              id="nav-log-in"
              href=""
              ng-click="openLogin()"
            >Log In
            </button>
          </li>
          <span ng-if="store.session" ss-account-dropdown></span>
          <li
            id="navbar-li-ask-question"
            ng-class="store.session ? 'active' : 'inactive'"
          >
            <a
              href=""
              class="ss-ask-button navbar-ask-question"
              ng-click="store.session ? ask() : ''"
              ng-class="store.session ? 'active' : 'inactive'"
            >
              <span class="glyphicon glyphicon-question-sign"></span>
              Ask A Question
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!-- <div>
  <div ng-if="loading" class="spinner">
  </div>
  <div ng-if="globalError.length" marked="globalError" class="has-error"></div>

  <header class="ss-page-header">
    <div class="ss-app-title">
      <h1>
        <a href="/">samplestack</a>
      </h1>
    </div>
    <div class="ss-page-header-actions"
      ng-class="{ loading: loading }"
    >

      <div class="ss-login">
        <span ng-if="store.session" ss-account-dropdown></span>

        <a ng-if="!store.session" href="" ng-click="openLogin()">
          Login
        </a>
      </div>

      <button
        class="ss-ask-button"
        ng-disabled="!store.session"
        ng-click="ask()"
        ng-class="{ disabled: !store.session }"
      >
        Ask a Question
      </button>
    </div>
  </header> -->

  <div class="ss-incomplete-message">
    <span class="ss-incomplete">(yellow shading indicates incomplete features)</span>
  </div>

  <div ng-class="{ loading: loading }">
    <div ng-if="localError" class="has-error">{{localError}}</div>
    <section class="ss-main">
      <div ui-view></div>
    </section>

    <footer class="ss-page-footer">
      <p>Copyright MarkLogic Corporation 2014</p>
      <p>Imported question and answer data provided by
        <a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a>
        under (<a href="http://creativecommons.org/licenses/by-sa/3.0/"
        target="_blank">CC BY-SA 3.0</a>)
      </p>
    </footer>
  </div>
</div>
</div>
