<header class="ss-page-header navbar-fixed-top">

  <div ng-if="loading" class="spinner"></div>
  <div ng-if="globalError.length" marked="globalError" class="has-error"></div>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="app/images/samplestack.svg" border="0">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="!store.session" id="navbar-li-logged-out">
            <button
              class="btn btn-primary btn-sm"
              id="nav-log-in"
              href=""
              ng-click="openLogin()"
            >Log In
            </button>
          </li>
          <span ng-if="store.session" ss-account-dropdown></span>
          <li
            id="navbar-li-ask-question"
            ng-class="store.session ? 'active' : 'inactive'"
          >
            <a
              href=""
              class="ss-ask-button navbar-ask-question"
              ng-click="store.session ? ask() : ''"
              ng-class="store.session ? 'active' : 'inactive'"
            >
              <span class="glyphicon glyphicon-question-sign"></span>
              Ask A Question
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div ng-class="{ loading: loading }"></div>
<div ng-if="localError" class="has-error">{{localError}}</div>

<section class="ss-main">
  <div ui-view></div>
</section>

<footer>

  <!--
  <p>Copyright © 2014 MarkLogic Corporation. All Rights Reserved. MARKLOGIC&reg; is a registered trademark of MarkLogic Corporation.</p>
  -->
  <p class="text-center"><a href="insert-url.php">Samplestack 1.0.0-ea2</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2014 <a href="insert-url.php">MarkLogic Corporation</a>, licensed under the Apache License, <a href="insert-url.php" >Version 2.0.</a>&nbsp;&nbsp;|&nbsp;&nbsp;Seed content compliments of Stack Overflow under <a href="insert-url.php">cc-by-sa</a>.</p>

</footer>
